
/* class represented by dot */
.pr{
    color: blue;
    font-size: 50px;
}
.e1{
    color: aqua;
    font-size: 50px;
}
.e2{
    color: bisque;
}
.e3{
    color: red;
}
.a{
    font-weight: bold;
    font-size: 80px;
}

/* id represented by hash   ------ Note: we can not repeat id's*/
#id{
    font-size: 80px;
    font-weight: 400;
}

.eg1{
    width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  text-align: center;
  align-content: center;
}
.eg2{
    height: 150px;
    width: auto;
    background-color: greenyellow;
}
